@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
}

.text-green {
    color: #24a148 !important;
}

.bg-success {
    background-color: #24a148 !important;
    color: #ffffff !important ;
}